# ===== C++ ignores =====
*.o
*.obj
*.exe
*.out
*.app
*.dll
*.so
*.dylib
*.lib
*.a
*.pdb
*.ilk
memsim
memsim.exe
/build
/bin
/dist

# ===== Windows system files =====
Thumbs.db
Desktop.ini
.DS_Store
$RECYCLE.BIN/
*.lnk

# ===== IDE / local environment =====
.vscode/
.idea/
*.code-workspace

# ===== Logs / test outputs if generated =====
*.log
results/
